{
  "openapi": "3.1.1",
  "info": {
    "title": "HitPay API",
    "description": "Accept PayNow, FPX, QRIS, GrabPay, cards, and 40+ payment methods with a single API. Production base URL: https://api.hit-pay.com, Sandbox: https://api.sandbox.hit-pay.com",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.hit-pay.com",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.hit-pay.com",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/v1/account-status": {
      "get": {
        "summary": "Get Account Status",
        "description": "Get the account status",
        "operationId": "get-account-status",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "bank_account_status": "completed",
                      "verification": {
                        "overall_status": "completed",
                        "owner_verification": "not_required",
                        "business_verification": "completed"
                      },
                      "payment_providers": {
                        "airwallex_sg": {
                          "setup_status": "completed"
                        },
                        "atome_sg": {
                          "setup_status": "completed"
                        },
                        "dbs_sg": {
                          "setup_status": "pending"
                        },
                        "fave_sg": {
                          "setup_status": "completed"
                        },
                        "shopback_sg": {
                          "setup_status": "completed"
                        },
                        "shopee_pay": {
                          "setup_status": "completed"
                        },
                        "stripe_sg": {
                          "setup_status": "completed",
                          "payment_enabled": true,
                          "payout_enabled": true
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "bank_account_status": {
                      "type": "string"
                    },
                    "verification": {
                      "type": "object",
                      "properties": {
                        "overall_status": {
                          "type": "string"
                        },
                        "owner_verification": {
                          "type": "string"
                        },
                        "business_verification": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "overall_status",
                        "owner_verification",
                        "business_verification"
                      ]
                    },
                    "payment_providers": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staffs": {
      "get": {
        "summary": "Get All Staffs",
        "description": "Get All Staffs",
        "operationId": "get-all-staffs",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": [
                      {
                        "id": "98566f58-1c76-4b8b-8f75-d20bba2bc7f8",
                        "name": "TestingSG",
                        "role": {
                          "id": "93a00e56-c832-490e-b5b8-7f08149548c7",
                          "title": "Owner"
                        }
                      },
                      {
                        "id": "98888a24-d6b2-430d-9063-d2be76d443cd",
                        "name": "SG11",
                        "role": {
                          "id": "93a00e56-d9d8-46f7-aa41-da868820f899",
                          "title": "Manager"
                        }
                      },
                      {
                        "id": "98888a69-2d7a-4695-811d-6df8cee30264",
                        "name": "SG",
                        "role": {
                          "id": "93a00e56-d9d8-46f7-aa41-da868820f899",
                          "title": "Manager"
                        }
                      },
                      {
                        "id": "98888a7a-8d02-48bd-ba00-9ea91ad30ecb",
                        "name": "Cashier 01",
                        "role": {
                          "id": "93a00e56-dbea-4387-8972-e04777d9afce",
                          "title": "Cashier"
                        }
                      },
                      {
                        "id": "98889105-0aa7-4480-989c-41f38172b4e6",
                        "name": "Cashier 02",
                        "role": {
                          "id": "93a00e56-dbea-4387-8972-e04777d9afce",
                          "title": "Cashier"
                        }
                      },
                      {
                        "id": "9888918e-246b-44c6-a602-d8bcfd726345",
                        "name": "Admin 01",
                        "role": {
                          "id": "93a00e56-d68c-4025-9cea-2b08cd50572e",
                          "title": "Admin"
                        }
                      },
                      {
                        "id": "9bf2c210-9516-4525-9a8f-52cb671e7b02",
                        "name": "Manager 01",
                        "role": {
                          "id": "93a00e56-d9d8-46f7-aa41-da868820f899",
                          "title": "Manager"
                        }
                      }
                    ]
                  }
                },
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "role": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "title"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "role"
                    ]
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/staffs/{staff_id}": {
      "get": {
        "summary": "Get Staff Detail",
        "description": "Get Staff Detail",
        "operationId": "get-staff-detail",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "staff_id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "98888a69-2d7a-4695-811d-6df8cee30264"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "98566f58-1c76-4b8b-8f75-d20bba2bc7f8",
                      "name": "Testing ABC",
                      "role": {
                        "id": "93a00e56-c832-490e-b5b8-7f08149548c7",
                        "title": "Owner"
                      },
                      "email": "abcd@gmail.com",
                      "invited_at": "2023-01-29T05:29:24.000000Z",
                      "locations": []
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "role": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "title"
                      ]
                    },
                    "email": {
                      "type": "string"
                    },
                    "invited_at": {
                      "type": "string"
                    },
                    "locations": {
                      "type": "array",
                      "items": {}
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "role",
                    "email",
                    "invited_at",
                    "locations"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "message": "The staff cannot be found."
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/refund": {
      "post": {
        "summary": "Refund",
        "description": "The API to refund the charge",
        "operationId": "refund",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "amount",
                  "payment_id"
                ],
                "properties": {
                  "amount": {
                    "type": "number",
                    "description": "The remaining amount to be refunded.",
                    "example": 100.99
                  },
                  "payment_id": {
                    "type": "string",
                    "format": "uuid",
                    "example": "3c90c3cc-0d44-4b50-8888-8dd25736052a",
                    "description": "Payment ID for the successful payment request"
                  },
                  "webhook": {
                    "type": "string",
                    "format": "uri",
                    "description": "The webhook URL",
                    "example": "https://www.google.com"
                  },
                  "send_email": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ]
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "test@gmail.com"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "9ef6957e-6b1b-4e08-8cde-d5f5c908418d",
                      "refunded_by": "QA SG",
                      "payment_id": "9a934d94-a41f-46c7-a934-c1ebf2436008",
                      "amount_refunded": 1,
                      "total_amount": 96.49,
                      "currency": "sgd",
                      "status": "succeeded",
                      "payment_method": "card",
                      "provider_fee": null,
                      "provider_fee_currency": null,
                      "refunded_at": "2025-05-21T09:17:52.000000Z",
                      "created_at": "2025-05-21T17:17:52"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "examples": [
                        "9858acaf-edc8-427d-b0e5-c32e1b1543db"
                      ]
                    },
                    "refunded_by": {
                      "type": "string",
                      "example": "Test QA"
                    },
                    "payment_id": {
                      "type": "string",
                      "example": "984e6b86-f0e2-4283-991c-d8236f67567e"
                    },
                    "amount_refunded": {
                      "type": "integer",
                      "example": 13,
                      "default": 0
                    },
                    "total_amount": {
                      "type": "number",
                      "example": 99.99,
                      "default": 0
                    },
                    "currency": {
                      "type": "string",
                      "example": "usd"
                    },
                    "status": {
                      "type": "string",
                      "default": "succeeded"
                    },
                    "payment_method": {
                      "type": "string",
                      "example": "card"
                    },
                    "provider_fee": {
                      "type": "integer",
                      "example": 1.1
                    },
                    "provider_fee_currency": {
                      "type": "string",
                      "example": "SGD"
                    },
                    "refunded_at": {
                      "type": "string",
                      "example": "2025-05-21T09:17:52.000000Z"
                    },
                    "created_at": {
                      "type": "string",
                      "example": "2023-01-30T16:10:17"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request POST 'https://api.sandbox.hit-pay.com/v1/refund' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--data-urlencode 'amount=13444' \\\n--data-urlencode 'payment_id=984e6b86-f0e2-4283-991c-d8236f67567e' \\\n--data-urlencode 'webhook=https://webhook.site/64da3fed-cd82-49cc-a368-a9ede02441aa' \\\n--data-urlencode 'send_email=true ' \\\n--data-urlencode 'email=raymond@hit-pay.com'\n",
              "name": "cURL"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/v1/refund/{refund_id}": {
      "get": {
        "summary": "Get Refund Details",
        "description": "Get the refund detail.",
        "operationId": "get-refund",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "refund_id",
            "in": "path",
            "description": "The refund id",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "a1feb98d-f31d-4378-9382-1a373853f7eb",
                      "refunded_by": null,
                      "payment_id": "a1feb5cb-fff3-4cd7-a5a1-a4e91307353d",
                      "amount_refunded": 10,
                      "total_amount": 110,
                      "currency": "sgd",
                      "status": "succeeded",
                      "payment_method": "card",
                      "provider_fee": null,
                      "provider_fee_currency": null,
                      "refunded_at": "2026-06-11T05:01:08.000000Z",
                      "created_at": "2026-06-11T05:01:08.000000Z"
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "a1feb98d-f31d-4378-9382-1a373853f7eb"
                    },
                    "refunded_by": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "payment_id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "a1feb5cb-fff3-4cd7-a5a1-a4e91307353d"
                    },
                    "amount_refunded": {
                      "type": "number",
                      "example": 10
                    },
                    "total_amount": {
                      "type": "number",
                      "example": 110
                    },
                    "currency": {
                      "type": "string",
                      "example": "sgd"
                    },
                    "status": {
                      "type": "string",
                      "example": "succeeded"
                    },
                    "payment_method": {
                      "type": "string",
                      "example": "card"
                    },
                    "provider_fee": {
                      "type": "number",
                      "nullable": true,
                      "example": null
                    },
                    "provider_fee_currency": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "refunded_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-06-11T05:01:08.000000Z"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2026-06-11T05:01:08.000000Z"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "lang": "shell",
              "source": "curl -X GET \"https://api.sandbox.hit-pay.com/v1/refund/{refund_id}\" -H \"X-BUSINESS-API-KEY: b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d\""
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/v1/subscription-plan": {
      "get": {
        "summary": "Get All Subscription Plan",
        "description": "Use this API to get all subscription plans details.",
        "operationId": "get-all-subscription-plan",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "The number of per page",
            "schema": {
              "type": "number",
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page index",
            "schema": {
              "type": "number",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"data\": [\n        {\n            \"id\": \"975b1909-38f6-44f3-a0b1-c198b7478978\",\n            \"name\": \"subscription-plan_new_1664175178\",\n            \"description\": \"New_Description_1664175178\",\n            \"cycle\": \"custom\",\n            \"cycle_repeat\": 1,\n            \"cycle_frequency\": \"day\",\n            \"currency\": \"sgd\",\n            \"price\": 123.45,\n            \"amount\": 123.45,\n            \"reference\": null,\n            \"created_at\": \"2022-09-26T14:52:58\",\n            \"updated_at\": \"2022-09-26T14:52:58\"\n        },\n        {\n            \"id\": \"97533e84-4f48-4625-83de-1d2b3e3ae17b\",\n            \"name\": \"subscription-plan_new_1663837869\",\n            \"description\": \"New_Description_1663837869\",\n            \"cycle\": \"custom\",\n            \"cycle_repeat\": 1,\n            \"cycle_frequency\": \"day\",\n            \"currency\": \"sgd\",\n            \"price\": 9999999.99,\n            \"amount\": 9999999.99,\n            \"reference\": null,\n            \"created_at\": \"2022-09-22T17:11:09\",\n            \"updated_at\": \"2022-09-22T17:11:09\"\n        }\n    ],\n    \"links\": {\n        \"first\": \"https://api.sandbox.hit-pay.com/v1/subscription-plan?page=1\",\n        \"last\": \"https://api.sandbox.hit-pay.com/v1/subscription-plan?page=1\",\n        \"prev\": null,\n        \"next\": null\n    },\n    \"meta\": {\n        \"current_page\": 1,\n        \"from\": 1,\n        \"last_page\": 1,\n        \"links\": [\n            {\n                \"url\": null,\n                \"label\": \"&laquo; Previous\",\n                \"active\": false\n            },\n            {\n                \"url\": \"https://api.sandbox.hit-pay.com/v1/subscription-plan?page=1\",\n                \"label\": \"1\",\n                \"active\": true\n            },\n            {\n                \"url\": null,\n                \"label\": \"Next &raquo;\",\n                \"active\": false\n            }\n        ],\n        \"path\": \"https://api.sandbox.hit-pay.com/v1/subscription-plan\",\n        \"per_page\": 25,\n        \"to\": 2,\n        \"total\": 2\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "examples": [
                              "975b1909-38f6-44f3-a0b1-c198b7478978"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "examples": [
                              "subscription-plan_new_1664175178"
                            ]
                          },
                          "description": {
                            "type": "string",
                            "examples": [
                              "New_Description_1664175178"
                            ]
                          },
                          "cycle": {
                            "type": "string",
                            "examples": [
                              "custom"
                            ]
                          },
                          "cycle_repeat": {
                            "type": "integer",
                            "examples": [
                              1
                            ],
                            "default": 0
                          },
                          "cycle_frequency": {
                            "type": "string",
                            "examples": [
                              "day"
                            ]
                          },
                          "currency": {
                            "type": "string",
                            "examples": [
                              "sgd"
                            ]
                          },
                          "price": {
                            "type": "number",
                            "examples": [
                              123.45
                            ],
                            "default": 0
                          },
                          "amount": {
                            "type": "number",
                            "examples": [
                              123.45
                            ],
                            "default": 0
                          },
                          "reference": {},
                          "created_at": {
                            "type": "string",
                            "examples": [
                              "2022-09-26T14:52:58"
                            ]
                          },
                          "updated_at": {
                            "type": "string",
                            "examples": [
                              "2022-09-26T14:52:58"
                            ]
                          }
                        }
                      }
                    },
                    "links": {
                      "type": "object",
                      "properties": {
                        "first": {
                          "type": "string",
                          "examples": [
                            "https://api.sandbox.hit-pay.com/v1/subscription-plan?page=1"
                          ]
                        },
                        "last": {
                          "type": "string",
                          "examples": [
                            "https://api.sandbox.hit-pay.com/v1/subscription-plan?page=1"
                          ]
                        },
                        "prev": {},
                        "next": {}
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer",
                          "examples": [
                            1
                          ],
                          "default": 0
                        },
                        "from": {
                          "type": "integer",
                          "examples": [
                            1
                          ],
                          "default": 0
                        },
                        "last_page": {
                          "type": "integer",
                          "examples": [
                            1
                          ],
                          "default": 0
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {},
                              "label": {
                                "type": "string",
                                "examples": [
                                  "&laquo; Previous"
                                ]
                              },
                              "active": {
                                "type": "boolean",
                                "examples": [
                                  false
                                ],
                                "default": true
                              }
                            }
                          }
                        },
                        "path": {
                          "type": "string",
                          "examples": [
                            "https://api.sandbox.hit-pay.com/v1/subscription-plan"
                          ]
                        },
                        "per_page": {
                          "type": "integer",
                          "examples": [
                            25
                          ],
                          "default": 0
                        },
                        "to": {
                          "type": "integer",
                          "examples": [
                            2
                          ],
                          "default": 0
                        },
                        "total": {
                          "type": "integer",
                          "examples": [
                            2
                          ],
                          "default": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'https://api.sandbox.hit-pay.com/v1/subscription-plan' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "post": {
        "summary": "Create a Subscription Plan",
        "description": "A subscription plan consists of basic information like plan name, amount, and frequency. An example of a subscription plan could be “Spotify Premium Membership” which is SGD 9.90 monthly.",
        "operationId": "create-subscription-plan",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "cycle",
                  "amount"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Plan name. It's required field"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of subscription plan"
                  },
                  "cycle": {
                    "type": "string",
                    "description": "Billing frequency (weekly / monthly / yearly / custom). If cycle = custom then the user has to send the fields cycle_repeat and cycle_frequency",
                    "enum": [
                      "weekly",
                      "monthly",
                      "yearly",
                      "custom"
                    ],
                    "default": "monthly"
                  },
                  "cycle_frequency": {
                    "type": "string",
                    "description": "[This field is only applicable when cycle = custom] It's the frequency of the cycle [day / week / month / year]",
                    "enum": [
                      "day",
                      "week",
                      "month",
                      "year"
                    ]
                  },
                  "cycle_repeat": {
                    "type": "integer",
                    "description": "[This field is only applicable when cycle = custom] It's the number of times the cycle will repeat.",
                    "format": "int32"
                  },
                  "currency": {
                    "type": "string",
                    "example": "SGD"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Min: Depend on the currency, Max: 999999.99. It's required field",
                    "maximum": 999999.99,
                    "format": "int32"
                  },
                  "reference": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Arbitrary reference number that you can map to your internal reference number. This value cannot be edited by the customer"
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "The redirected URL after the payment"
                  },
                  "start_date_method": {
                    "type": "string",
                    "enum": [
                      "sign_up_date",
                      "customer_select_date",
                      "fixed_date"
                    ]
                  },
                  "fixed_date": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 28,
                    "description": "it's required if start_date_method = fixed_date"
                  },
                  "times_to_be_charged": {
                    "type": "number",
                    "default": 1,
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"973ee344-6737-4897-9929-edbc9d7bf433\",\n    \"name\": \"Spotify Premium\",\n    \"description\": \"Spotify Monthly Subscription\",\n    \"cycle\": \"monthly\",\n    \"cycle_repeat\": null,\n    \"cycle_frequency\": null,\n    \"currency\": \"sgd\",\n    \"amount\": 9.90,\n    \"reference\": \"spotify_premium_2022\",\n    \"created_at\": \"2022-09-12T14:19:26\",\n    \"updated_at\": \"2022-09-12T14:19:26\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "examples": [
                        "973ee344-6737-4897-9929-edbc9d7bf433"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "examples": [
                        "Spotify Premium"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Spotify Monthly Subscription"
                      ]
                    },
                    "cycle": {
                      "type": "string",
                      "examples": [
                        "monthly"
                      ]
                    },
                    "cycle_repeat": {},
                    "cycle_frequency": {},
                    "currency": {
                      "type": "string",
                      "examples": [
                        "sgd"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "examples": [
                        9.9
                      ],
                      "default": 0
                    },
                    "reference": {
                      "type": "string",
                      "examples": [
                        "spotify_premium_2022"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "examples": [
                        "2022-09-12T14:19:26"
                      ]
                    },
                    "updated_at": {
                      "type": "string",
                      "examples": [
                        "2022-09-12T14:19:26"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"The given data was invalid.\",\n    \"errors\": {\n        \"name\": [\n            \"The name field is required.\"\n        ],\n        \"amount\": [\n            \"The amount field is required.\"\n        ],\n        \"cycle\": [\n            \"The cycle field is required.\"\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "The name field is required."
                            ]
                          }
                        },
                        "amount": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "The amount field is required."
                            ]
                          }
                        },
                        "cycle": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "The cycle field is required."
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request POST 'https://api.sandbox.hit-pay.com/v1/subscription-plan' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--data-urlencode 'name=Spotify Premium' \\\n--data-urlencode 'description=Spotify Monthly Subscription' \\\n--data-urlencode 'currency=SGD' \\\n--data-urlencode 'amount=9.90'\n--data-urlencode 'cycle=monthly' \\\n--data-urlencode 'reference=spotify_premium_2022' \\"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/v1/subscription-plan/{plan_id}": {
      "get": {
        "summary": "Get Subscription Plan Details",
        "description": "Use this API to get the subscription plan details, if you need to make any changes use the Update a Subscription Plan API",
        "operationId": "get-a-subscription-plan-detail",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"973ee344-6737-4897-9929-edbc9d7bf433\",\n    \"name\": \"Spotify Premium\",\n    \"description\": \"Spotify Monthly Subscription\",\n    \"cycle\": \"monthly\",\n    \"cycle_repeat\": null,\n    \"cycle_frequency\": null,\n    \"currency\": \"sgd\",\n    \"amount\": 9.9,\n    \"reference\": \"spotify_premium_2022\",\n    \"created_at\": \"2022-09-12T14:22:26\",\n    \"updated_at\": \"2022-09-12T14:22:26\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "examples": [
                        "973ee344-6737-4897-9929-edbc9d7bf433"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "examples": [
                        "Spotify Premium"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Spotify Monthly Subscription"
                      ]
                    },
                    "cycle": {
                      "type": "string",
                      "examples": [
                        "monthly"
                      ]
                    },
                    "cycle_repeat": {},
                    "cycle_frequency": {},
                    "currency": {
                      "type": "string",
                      "examples": [
                        "sgd"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "examples": [
                        9.9
                      ],
                      "default": 0
                    },
                    "reference": {
                      "type": "string",
                      "examples": [
                        "spotify_premium_2022"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "examples": [
                        "2022-09-12T14:22:26"
                      ]
                    },
                    "updated_at": {
                      "type": "string",
                      "examples": [
                        "2022-09-12T14:22:26"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"No query results for model [App\\\\Business\\\\SubscriptionPlan] 973ee456-d28f-4418-93c5-d37e4b311685\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "No query results for model [App\\Business\\SubscriptionPlan] 973ee456-d28f-4418-93c5-d37e4b311685"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'https://api.sandbox.hit-pay.com/v1/subscription-plan/{plan_id}' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "Update Subscription Plan",
        "description": "Use this API to update the subscription plan, changes made to the plan will not affect current subscription. If you would like to make changes to the current subscriptions use the Update Recurring Billing API.",
        "operationId": "update-recurring-billing-plan",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "cycle",
                  "amount"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Plan name. It's required field"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Min: Depend on the currency, Max: 999999.99. It's required field",
                    "maximum": 999999.99,
                    "format": "int32"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of subscription plan"
                  },
                  "cycle": {
                    "type": "string",
                    "description": "Billing frequency (weekly / monthly / yearly / custom / save_card). If cycle = custom then the user has to send the fields cycle_repeat and cycle_frequency",
                    "enum": [
                      "weekly",
                      "monthly",
                      "yearly",
                      "custom",
                      "save_card"
                    ],
                    "default": "monthly"
                  },
                  "cycle_frequency": {
                    "type": "string",
                    "description": "[This field is only applicable when cycle = custom] It's the frequency of the cycle [day / week / month / year]",
                    "enum": [
                      "day",
                      "week",
                      "month",
                      "year"
                    ]
                  },
                  "cycle_repeat": {
                    "type": "integer",
                    "description": "[This field is only applicable when cycle = custom] It's the number of times the cycle will repeat.",
                    "format": "int32"
                  },
                  "currency": {
                    "type": "string",
                    "example": "SGD"
                  },
                  "reference": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Arbitrary reference number that you can map to your internal reference number. This value cannot be edited by the customer"
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "The redirected URL after the payment"
                  },
                  "start_date_method": {
                    "type": "string",
                    "enum": [
                      "sign_up_date",
                      "customer_select_date",
                      "fixed_date"
                    ]
                  },
                  "fixed_date": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 28,
                    "description": "it's required if start_date_method = fixed_date"
                  },
                  "times_to_be_charged": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"973ee344-6737-4897-9929-edbc9d7bf433\",\n    \"name\": \"Spotify Premium\",\n    \"description\": \"Spotify Monthly Subscription\",\n    \"cycle\": \"monthly\",\n    \"cycle_repeat\": null,\n    \"cycle_frequency\": null,\n    \"currency\": \"sgd\",\n    \"amount\": 12.9,\n    \"reference\": \"spotify_premium_2022\",\n    \"created_at\": \"2022-09-13T12:34:13\",\n    \"updated_at\": \"2022-09-13T12:34:13\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "examples": [
                        "973ee344-6737-4897-9929-edbc9d7bf433"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "examples": [
                        "Spotify Premium"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Spotify Monthly Subscription"
                      ]
                    },
                    "cycle": {
                      "type": "string",
                      "examples": [
                        "monthly"
                      ]
                    },
                    "cycle_repeat": {},
                    "cycle_frequency": {},
                    "currency": {
                      "type": "string",
                      "examples": [
                        "sgd"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "examples": [
                        12.9
                      ],
                      "default": 0
                    },
                    "reference": {
                      "type": "string",
                      "examples": [
                        "spotify_premium_2022"
                      ]
                    },
                    "created_at": {
                      "type": "string",
                      "examples": [
                        "2022-09-13T12:34:13"
                      ]
                    },
                    "updated_at": {
                      "type": "string",
                      "examples": [
                        "2022-09-13T12:34:13"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"The given data was invalid.\",\n    \"errors\": {\n        \"name\": [\n            \"The name may not be greater than 128 characters.\"\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "The name may not be greater than 128 characters."
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              },
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"The given data was invalid.\",\n    \"errors\": {\n        \"cycle_repeat\": [\n            \"The cycle repeat field is required when cycle is custom.\"\n        ],\n        \"cycle_frequency\": [\n            \"The cycle frequency field is required when cycle is custom.\"\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "The given data was invalid."
                      ]
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "cycle_repeat": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "The cycle repeat field is required when cycle is custom."
                            ]
                          }
                        },
                        "cycle_frequency": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "examples": [
                              "The cycle frequency field is required when cycle is custom."
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request PUT 'https://api.sandbox.hit-pay.com/v1/subscription-plan/{plan_id}' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--data-urlencode 'amount=12.90'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "Delete Subscription Plan",
        "description": "Delete the Subscription plan",
        "operationId": "delete-subscription",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "plan_id",
            "in": "path",
            "description": "The subscription id",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "204",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "1"
                  }
                },
                "schema": {
                  "type": "integer",
                  "example": 1
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request DELETE 'https://api.sandbox.hit-pay.com/v1/subscription-plan/99e64cc6-2860-4c54-a92d-1509aa9e2362' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded'",
              "name": "Example"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/v1/recurring-billing": {
      "post": {
        "summary": "Create Recurring Billing",
        "description": "Once your customer has decided to start the subscription this endpoint will create the recurring billing request.\nSince this is a server-to-server communication, if you have a mobile or Web client that communicates with your REST API, you must have a new endpoint E.g. /create-subscription or reuse an existing endpoint. This endpoint will be responsible for making the recurring billing API call to HitPay.",
        "operationId": "create-a-recurring-billing",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "customer_email"
                ],
                "properties": {
                  "plan_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Subscription plan id created from Create a Subscription Plan API. If you would like to create a subscription without a plan, plan_id should be null"
                  },
                  "save_card": {
                    "type": "string",
                    "default": "false",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "Only set the value “true” if you wish to save the card and charge the customer later on. More details in “Save Card” section"
                  },
                  "save_payment_method": {
                    "type": "string",
                    "default": "false",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "It's new field that will replace save_card field in the future. Only set the value “true” if you wish to save the payment method and charge the customer later on. More details in “Save Payment Method” section"
                  },
                  "start_date_method": {
                    "type": "string",
                    "default": null,
                    "enum": [
                      "sign_up_date",
                      "no_initial_charge"
                    ],
                    "description": "It's an optional field and only applicable when save_payment_method is true. By default, the start_date_method is null. Options are sign_up_date or no_initial_charge"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "It's is required when save card = true or plan_id = null.  By default, the name from the subscription plan will be used.",
                    "example": "Spotify Premium"
                  },
                  "amount": {
                    "type": "integer",
                    "format": "double",
                    "maximum": 999999.99,
                    "example": 9.9,
                    "description": "Required when save_card = true and plan_id = null for cards. By default, the amount from the subscription plan will be used. Optional when payment_methods contains only APMs (zalopay, shopee_pay, grabpay_direct, touch_n_go) and save_payment_method is true. Min: It depends on the currency, Max: 999999.99."
                  },
                  "cycle": {
                    "type": "string",
                    "enum": [
                      "weekly",
                      "monthly",
                      "yearly",
                      "custom"
                    ],
                    "description": "It's is required when plan_id = null. By default, the cycle from the subscription plan will be used. Billing frequency (weekly / monthly / yearly / custom)"
                  },
                  "cycle_repeat": {
                    "type": "integer",
                    "description": "It is required field when cycle is custom. New cycle will only be affective at the end of the current cycle",
                    "minimum": 1,
                    "maximum": 999
                  },
                  "cycle_frequency": {
                    "type": "string",
                    "enum": [
                      "day",
                      "week",
                      "month",
                      "year"
                    ],
                    "description": "It is required field when the cycle is custom. For cycle = custom, set the frequency for cycle repeat field options [day, week, month, year]"
                  },
                  "customer_email": {
                    "type": "string",
                    "format": "email",
                    "description": "Customer's email.",
                    "example": "abc@gmail.com"
                  },
                  "customer_name": {
                    "type": "string",
                    "description": "Customer's name.",
                    "maxLength": 255,
                    "example": "Paul"
                  },
                  "start_date": {
                    "type": "string",
                    "description": "Required when save_card is not true. Billing start date (YYYY-MM-DD) in SGT. Must be today or a future date.",
                    "example": "2025-12-31"
                  },
                  "redirect_url": {
                    "type": "string",
                    "description": "URL where HitPay redirects the user after the users enters the card details and the subscription is active. Query arguments reference (subscription id) and status are sent along"
                  },
                  "reference": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "payment_methods": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "card",
                        "giro",
                        "shopee_recurring"
                      ]
                    },
                    "example": [
                      "card"
                    ],
                    "description": "The active Payment methods to be used for the subscription: card, giro, shopee_recurring."
                  },
                  "send_email": {
                    "type": "string",
                    "default": "false",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "HitPay to send email receipts to the customer. Default value is false"
                  },
                  "times_to_be_charged": {
                    "type": "number",
                    "description": "It's time to be charged. Default value is 1",
                    "default": 1,
                    "minimum": 1,
                    "maximum": 100,
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          },
          "422": {
            "description": "422",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request POST 'https://api.sandbox.hit-pay.com/v1/recurring-billing' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--data-urlencode 'plan_id=973ee344-6737-4897-9929-edbc9d7bf433' \\\n--data-urlencode 'amount=9.90' \\\n--data-urlencode 'customer_email=paul@hitpayapp.com' \\\n--data-urlencode 'customer_name=Paul' \\\n--data-urlencode 'start_date=2022-11-11' \\\n--data-urlencode 'redirect_url=https://spotify.com/subscription-completed' \\\n--data-urlencode 'reference=cust_id_123' \\\n--data-urlencode 'payment_methods[]=giro' \\\n--data-urlencode 'payment_methods[]=card' \\\n--data-urlencode 'webhook=https://webhoo.site/test' \\\n--data-urlencode 'save_card=false' \\\n--data-urlencode 'send_email=false' \\\n--data-urlencode 'times_to_be_charged=3'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "get": {
        "summary": "Get All Recurring Billing",
        "description": "Use this API to get the a list of all recurring billings",
        "operationId": "get-all-recurring-billing",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "customer_email",
            "in": "query",
            "description": "Customer Email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference",
            "in": "query",
            "description": "Reference number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "business_recurring_plans_id",
            "in": "query",
            "description": "Recurring Plan ID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Recurring billing status, options [active, scheduled, retrying, inactive, canceled]",
            "schema": {
              "type": "string",
              "default": "active",
              "enum": [
                "active",
                "scheduled",
                "retrying",
                "inactive",
                "canceled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {}
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'https://api.sandbox.hit-pay.com/v1/recurring-billing' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      }
    },
    "/v1/recurring-billing/{recurring_billing_id}": {
      "get": {
        "summary": "Get saved card details",
        "description": "Use this API to get the detail of recurring billing with a saved card. If the card is saved the response will have the card details (The last 4 digits and card brand). You can use the card details to display it to the users so they are aware of which card is saved and give them the option to change the card by navigating to the “url”",
        "operationId": "get-saved-card-details",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "recurring_billing_id",
            "in": "path",
            "schema": {
              "type": "string",
              "format:": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "id": "9ad461a8-47ec-4f95-aeb3-1a3d16fec521",
                      "business_recurring_plans_id": null,
                      "customer_name": "API_Save_Card_1702369621",
                      "customer_email": "test@gmail.com",
                      "customer_phone_number": null,
                      "customer_phone_number_country_code": null,
                      "name": "API_Save_Card_New_1702369621",
                      "description": "description_1702369621",
                      "reference": "cust_id_123",
                      "cycle": "save_card",
                      "cycle_repeat": null,
                      "cycle_frequency": null,
                      "currency": "usd",
                      "price": 94.27,
                      "amount": 94.27,
                      "times_to_be_charged": null,
                      "times_charged": null,
                      "status": "canceled",
                      "send_email": 1,
                      "save_card": 1,
                      "redirect_url": "https://www.google.com/",
                      "payment_methods": [
                        "giro",
                        "card"
                      ],
                      "payment_provider_charge_method": "card",
                      "created_at": "2023-12-12T16:27:01",
                      "updated_at": "2023-12-13T09:33:02",
                      "pause_from": null,
                      "pause_until": null,
                      "expires_at": null,
                      "url": "https://securecheckout.staging.hit-pay.com/98567029-f559-49f9-916b-042a4255b32a/recurring-plan/9ad461a8-47ec-4f95-aeb3-1a3d16fec521",
                      "dbs_dda_reference": "RP94OH2LYZY",
                      "total_charge": 0,
                      "payment_method": {
                        "card": {
                          "brand": "visa",
                          "last4": "4242"
                        }
                      }
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "business_recurring_plans_id": {},
                    "customer_name": {
                      "type": "string"
                    },
                    "customer_email": {
                      "type": "string"
                    },
                    "customer_phone_number": {},
                    "customer_phone_number_country_code": {},
                    "name": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "reference": {
                      "type": "string"
                    },
                    "cycle": {
                      "type": "string"
                    },
                    "cycle_repeat": {},
                    "cycle_frequency": {},
                    "currency": {
                      "type": "string"
                    },
                    "price": {
                      "type": "number"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "times_to_be_charged": {},
                    "times_charged": {},
                    "status": {
                      "type": "string"
                    },
                    "send_email": {
                      "type": "number"
                    },
                    "save_card": {
                      "type": "number"
                    },
                    "redirect_url": {
                      "type": "string"
                    },
                    "payment_methods": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "payment_provider_charge_method": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "pause_from": {},
                    "pause_until": {},
                    "expires_at": {},
                    "url": {
                      "type": "string"
                    },
                    "total_charge": {
                      "type": "number"
                    },
                    "payment_method": {
                      "type": "object",
                      "properties": {
                        "card": {
                          "type": "object",
                          "properties": {
                            "brand": {
                              "type": "string"
                            },
                            "last4": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "brand",
                            "last4"
                          ]
                        }
                      },
                      "required": [
                        "card"
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"No query results for model [App\\\\Business\\\\SubscriptionPlan] 973ee456-d28f-4418-93c5-d37e4b311685\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "examples": [
                        "No query results for model [App\\Business\\SubscriptionPlan] 973ee456-d28f-4418-93c5-d37e4b311685"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request GET 'https://api.sandbox.hit-pay.com/v1/recurring-billing/{recurring_billing_id}' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "put": {
        "summary": "Update Recurring Billing",
        "description": "Use this API to update the recurring billing, any changes made to the cycle will only be effective at the end of the current cycle.",
        "operationId": "update-recurring-billing",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "recurring_billing_id",
            "in": "path",
            "description": "id value from the create recurring billing API",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plan_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The plan ID, if plan_id is not null it will update [cycle, cycle_repeat, cycle_frequency and amount] with the values from Subscription plan. if plan_id is null you can update each field individually. When save_card is true, you disallow to set plan_id",
                    "example": "973ee344-6737-4897-9929-edbc9d7bf433"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Plan name",
                    "example": "Spotify Premium"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of subscription plan",
                    "example": "Spotify Monthly Subscription"
                  },
                  "payment_methods": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "card",
                        "giro",
                        "shopee_recurring"
                      ]
                    },
                    "example": [
                      "card"
                    ],
                    "description": "The active Payment methods to be used for the subscription: card, giro, shopee_recurring."
                  },
                  "cycle": {
                    "type": "string",
                    "enum": [
                      "weekly",
                      "monthly",
                      "yearly",
                      "custom"
                    ],
                    "description": "Billing frequency (weekly / monthly / yearly / custom)"
                  },
                  "cycle_repeat": {
                    "type": "integer",
                    "description": "It is required field when cycle is custom. New cycle will only be affective at the end of the current cycle",
                    "minimum": 1,
                    "maximum": 999
                  },
                  "cycle_frequency": {
                    "type": "string",
                    "enum": [
                      "day",
                      "week",
                      "month",
                      "year"
                    ],
                    "description": "It is required field when the cycle is custom. For cycle = custom, set the frequency for cycle repeat field options [day, week, month, year]"
                  },
                  "save_card": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "Only set the value “true” if you wish to save the card and charge the customer later on. More details in “Save Card” section"
                  },
                  "save_payment_method": {
                    "type": "string",
                    "default": "false",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "It's new field that will replace save_card field in the future. Only set the value “true” if you wish to save the payment method and charge the customer later on. More details in “Save Payment Method” section"
                  },
                  "start_date_method": {
                    "type": "string",
                    "default": null,
                    "enum": [
                      "sign_up_date",
                      "no_initial_charge"
                    ],
                    "description": "It's an optional field and only applicable when save_payment_method is true. By default, the start_date_method is null. Options are sign_up_date or no_initial_charge"
                  },
                  "customer_email": {
                    "type": "string",
                    "format": "email",
                    "example": "abc@gmail.com",
                    "description": "Customer's email."
                  },
                  "customer_name": {
                    "type": "string",
                    "maxLength": 255,
                    "example": "Paul",
                    "description": "Customer's name."
                  },
                  "start_date": {
                    "type": "string",
                    "description": "The start date must be a date after or equal to today and Billing start date (YYYY-MM-DD) in SGT, only possible to change start date for recurring billing ID with status = scheduled or active",
                    "example": "2025-12-31"
                  },
                  "redirect_url": {
                    "type": "string",
                    "format": "url",
                    "description": "URL where HitPay redirects the user after the users enters the card details and the subscription is active. Query arguments reference (subscription id) and status are sent along"
                  },
                  "reference": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "Arbitrary reference number that you can map to your internal reference number. This value cannot be edited by the customer"
                  },
                  "amount": {
                    "type": "number",
                    "description": "New amount, customer will be charged the new amount on the next cycle. Min: It depends on the currency, Max 999999.99",
                    "format": "double",
                    "maximum": 999999.9
                  },
                  "send_email": {
                    "type": "string",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "description": "Send the email",
                    "default": "false"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"9741164c-06a1-4dd7-a649-72cca8f9603a\",\n    \"business_recurring_plans_id\": \"973ee344-6737-4897-9929-edbc9d7bf433\",\n    \"customer_name\": \"Paul\",\n    \"customer_email\": \"paul@newemail.com\",\n    \"name\": \"Spotify Premium\",\n    \"description\": \"Spotify Monthly Subscription\",\n    \"reference\": \"cust_id_123\",\n    \"cycle\": \"monthly\",\n    \"cycle_repeat\": null,\n    \"cycle_frequency\": null,\n    \"currency\": \"sgd\",\n    \"amount\": 12.9,\n    \"times_to_be_charged\": 9,\n    \"times_charged\": 2,\n    \"status\": \"active\",\n    \"send_email\": 0,\n    \"save_card\": 0,\n    \"redirect_url\": \"https://newexamaple.com/completed\",\n    \"payment_methods\": [\n        \"giro\",\n        \"card\"\n    ],\n    \"created_at\": \"2022-09-13T21:32:00\",\n    \"updated_at\": \"2022-09-13T21:32:00\",\n    \"expires_at\": null,\n    \"url\": \"https://securecheckout.sandbox.hit-pay.com/973ee344-6737-4897-9929-edbc9d7bf433/recurring-plan/9741164c-06a1-4dd7-a649-72cca8f9603a\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "examples": [
                        "9741164c-06a1-4dd7-a649-72cca8f9603a"
                      ]
                    },
                    "business_recurring_plans_id": {
                      "type": "string",
                      "examples": [
                        "973ee344-6737-4897-9929-edbc9d7bf433"
                      ]
                    },
                    "customer_name": {
                      "type": "string",
                      "examples": [
                        "Paul"
                      ]
                    },
                    "customer_email": {
                      "type": "string",
                      "examples": [
                        "paul@newemail.com"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "examples": [
                        "Spotify Premium"
                      ]
                    },
                    "description": {
                      "type": "string",
                      "examples": [
                        "Spotify Monthly Subscription"
                      ]
                    },
                    "reference": {
                      "type": "string",
                      "examples": [
                        "cust_id_123"
                      ]
                    },
                    "cycle": {
                      "type": "string",
                      "examples": [
                        "monthly"
                      ]
                    },
                    "cycle_repeat": {},
                    "cycle_frequency": {},
                    "currency": {
                      "type": "string",
                      "examples": [
                        "sgd"
                      ]
                    },
                    "amount": {
                      "type": "number",
                      "examples": [
                        12.9
                      ],
                      "default": 0
                    },
                    "times_to_be_charged": {
                      "type": "integer",
                      "examples": [
                        9
                      ],
                      "default": 0
                    },
                    "times_charged": {
                      "type": "integer",
                      "examples": [
                        2
                      ],
                      "default": 0
                    },
                    "status": {
                      "type": "string",
                      "examples": [
                        "active"
                      ]
                    },
                    "send_email": {
                      "type": "integer",
                      "examples": [
                        0
                      ],
                      "default": 0
                    },
                    "save_card": {
                      "type": "integer",
                      "examples": [
                        0
                      ],
                      "default": 0
                    },
                    "redirect_url": {
                      "type": "string",
                      "examples": [
                        "https://newexamaple.com/completed"
                      ]
                    },
                    "payment_methods": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "examples": [
                          "giro"
                        ]
                      }
                    },
                    "created_at": {
                      "type": "string",
                      "examples": [
                        "2022-09-13T21:32:00"
                      ]
                    },
                    "updated_at": {
                      "type": "string",
                      "examples": [
                        "2022-09-13T21:32:00"
                      ]
                    },
                    "expires_at": {},
                    "url": {
                      "type": "string",
                      "examples": [
                        "https://securecheckout.sandbox.hit-pay.com/973ee344-6737-4897-9929-edbc9d7bf433/recurring-plan/9741164c-06a1-4dd7-a649-72cca8f9603a"
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "text/plain": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"message\": \"The given data was invalid.\",\n    \"errors\": {\n        \"save_card\": [\n            \"When save_card true, you disallow to set plan_id.\"\n        ]\n    }\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "examples": [
                            "The given data was invalid."
                          ]
                        },
                        "errors": {
                          "type": "object",
                          "properties": {
                            "cycle_repeat": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "examples": [
                                  "The cycle repeat field is required when cycle is custom."
                                ]
                              }
                            },
                            "cycle_frequency": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "examples": [
                                  "The cycle frequency field is required when cycle is custom."
                                ]
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "examples": [
                            "The given data was invalid."
                          ]
                        },
                        "errors": {
                          "type": "object",
                          "properties": {
                            "save_card": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "examples": [
                                  "When save_card true, you disallow to set plan_id."
                                ]
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "deprecated": false,
        "security": [],
        "x-readme": {
          "code-samples": [
            {
              "language": "curl",
              "code": "curl --location --request PUT 'https://api.sandbox.hit-pay.com/v1/recurring-billing/{recurring_billing_id}' \\\n--header 'X-BUSINESS-API-KEY: meowmeowmeow' \\\n--header 'X-Requested-With: XMLHttpRequest' \\\n--header 'Content-Type: application/x-www-form-urlencoded' \\\n--data-urlencode 'plan_id=9741164c-06a1-4dd7-a649-72cca8f9603a' \\\n--data-urlencode 'name=Spotify Premium' \\\n--data-urlencode 'description=Spotify Monthly Subscription' \\\n--data-urlencode 'cycle=monthly' \\\n--data-urlencode 'customer_email=paul@newemail.com' \\\n--data-urlencode 'customer_name=Paul' \\\n--data-urlencode 'redirect_url=https://newexamaple.com/completed' \\\n--data-urlencode 'reference=cust_id_123' \\\n--data-urlencode 'amount=12.90' \\\n--data-urlencode 'webhook=http://newwebhoo.site/test    ' \\\n--data-urlencode 'send_email=false'"
            }
          ],
          "samples-languages": [
            "curl"
          ]
        }
      },
      "delete": {
        "summary": "Delete Recurring Billing",
        "description": "Use this API to cancel the recurring billing subscription",
        "operationId": "delete-a-recurring-billing-detail",
        "parameters": [
          {
            "name": "X-BUSINESS-API-KEY",
            "in": "header",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d"
            }
          },
          {
            "name": "recurring_billing_id",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n    \"id\": \"9741164c-06a1-4dd7-a649-72cca8f9603a\",\n    \"business_recurring_plans_id\": \"973ee344-6737-4897-9929-edbc9d7bf433\",\n    \"customer_name\": \"Paul\",\n    \"customer_email\": \"paul@hitpayapp.com\",\n    \"name\": \"Spotify Premium\",\n    \"description\": \"Spotify Monthly Subscription\",\n    \"reference\": \"cust_id_123\",\n    \"cycle\": \"monthly\",\n    \"cycle_repeat\": null,\n    \"cycle_frequency\": null,\n    \"currency\": \"sgd\",\n    \"amount\": 9.90,\n    \"times_to_be_charged\": 3,\n    \"times_charged\": 0,\n    \"status\": \"canceled\",\n    \"send_email\": false,\n    \"save_card\": 0,\n    \"redirect_url\": \"https://github.com/\",\n    \"payment_methods\": [\n        \"giro\",\n        \"card\"\n    ],\n    \"created_at\": \"2022-09-13T16:33:47\",\n    \"updated_at\": \"2022-09-13T16:33:47\",\n    \"expires_at\": \"2022-11-11T23:59:59\",\n    \"url\": \"https://securecheckout.sandbox.hit-pay.com/973ee344-6737-4897-9929-edbc9d7bf433/recurring-plan/9741164c-06a1-4dd7-a649-72cca8f9603a\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "examples": [
                        "9741164c-06a1-4dd7-a649-72cca8f9603a"
                      ]
                    },
                    "business_recurring_plans_id": {
[...]
