openapi: 3.1.1
info:
  title: HitPay Account Status Remitters API
  description: 'Accept PayNow, FPX, QRIS, GrabPay, cards, and 40+ payment methods with a single API. Production base URL: https://api.hit-pay.com, Sandbox: https://api.sandbox.hit-pay.com'
  version: '1.0'
servers:
- url: https://api.hit-pay.com
  description: Production
- url: https://api.sandbox.hit-pay.com
  description: Sandbox
tags:
- name: Remitters
paths:
  /v1/remitters:
    get:
      summary: Get list of remitters
      description: Get list of remitters
      operationId: get-remitters
      parameters:
      - name: X-BUSINESS-API-KEY
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d
      - name: per_page
        in: query
        schema:
          type: integer
          format: int32
          default: 10
          maximum: 100
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    data:
                    - id: 9f0083d4-7794-4c83-98a2-754244f0db85
                      status: pending
                      entity_type: individual
                      full_name: Keith Abbott
                      email: null
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: '238888'
                        street_address: 123 Orchard Rd
                      id_type: driving_license
                      id_number: A1748245605
                      nationality: sg
                      company_name: Cartwright Group
                      date_of_birth: '1990-01-01'
                      contact_number: '+6591234567'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-05-26T15:46:45+08:00'
                      updated_at: '2025-05-26T15:46:45+08:00'
                    - id: 9f0083c8-6670-4421-8cde-bc770389b27a
                      status: pending
                      entity_type: individual
                      full_name: Sharon Feil
                      email: null
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: '238888'
                        street_address: 123 Orchard Rd
                      id_type: passport
                      id_number: A1748245597
                      nationality: sg
                      company_name: Zboncak - Windler
                      date_of_birth: '1990-01-01'
                      contact_number: '+6591234567'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-05-26T15:46:37+08:00'
                      updated_at: '2025-05-26T15:46:37+08:00'
                    - id: 9f0083c0-2313-4a55-a2a1-ffd9de7f54b4
                      status: pending
                      entity_type: individual
                      full_name: Guadalupe Prohaska
                      email: null
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: '238888'
                        street_address: 123 Orchard Rd
                      id_type: national_id
                      id_number: A1748245592
                      nationality: sg
                      company_name: Robel LLC
                      date_of_birth: '1990-01-01'
                      contact_number: '+6591234567'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-05-26T15:46:32+08:00'
                      updated_at: '2025-05-26T15:46:32+08:00'
                    - id: 9eba1413-09be-4893-a0f0-9acbbdf5ba6e
                      status: pending
                      entity_type: company
                      full_name: Ms. Dana Abbott
                      email: null
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: '238888'
                        street_address: 123 Orchard Rd
                      id_type: national_id
                      id_number: A1745220378
                      nationality: sg
                      company_name: Acme Corporation
                      date_of_birth: '1990-01-01'
                      contact_number: '+6591234567'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-04-21T15:26:18+08:00'
                      updated_at: '2025-04-21T15:26:18+08:00'
                    - id: 9eb9b915-d16c-4458-b13a-b836693c55e2
                      status: pending
                      entity_type: individual
                      full_name: Lyle Greenholt
                      email: null
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: '238888'
                        street_address: 123 Orchard Rd
                      id_type: national_id
                      id_number: A1745205113
                      nationality: sg
                      company_name: Acme Corporation
                      date_of_birth: '1990-01-01'
                      contact_number: '+6591234567'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-04-21T11:11:53+08:00'
                      updated_at: '2025-04-21T11:11:53+08:00'
                    - id: 9e74249c-5831-4f06-b5bf-bd466d85aeb6
                      status: pending
                      entity_type: company
                      full_name: Emilio Yundt
                      email: email@gmail.com
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: 089109
                        street_address: 1 Keong Saik Road
                      id_type: passport
                      id_number: FB123456
                      nationality: sg
                      company_name: HitPay
                      date_of_birth: '1990-10-28'
                      contact_number: '+6598644718'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-03-17T21:04:36+08:00'
                      updated_at: '2025-03-17T21:04:36+08:00'
                    - id: 9e742406-edfd-4ba9-afc4-3f14f3abd41b
                      status: pending
                      entity_type: company
                      full_name: Carolyn Barrows
                      email: email@gmail.com
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: 089109111111111
                        street_address: 1 Keong Saik Road
                      id_type: passport
                      id_number: FB123456
                      nationality: sg
                      company_name: HitPay
                      date_of_birth: '1990-10-28'
                      contact_number: '+6598644718'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-03-17T21:02:58+08:00'
                      updated_at: '2025-03-17T21:02:58+08:00'
                    - id: 9e7423d8-4304-447b-87a6-9c195a7cf443
                      status: pending
                      entity_type: company
                      full_name: Connie Fahey
                      email: email@gmail.com
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: 089109
                        street_address: 1 Keong Saik Road
                      id_type: passport
                      id_number: FB123456
                      nationality: sg
                      company_name: HitPay
                      date_of_birth: '1990-10-28'
                      contact_number: '+659864471812444444'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-03-17T21:02:27+08:00'
                      updated_at: '2025-03-17T21:02:27+08:00'
                    - id: 9e7423b7-3650-4a78-a150-449735e435bf
                      status: pending
                      entity_type: company
                      full_name: Phyllis Hessel Sr.
                      email: email@gmail.com
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: 089109
                        street_address: 1 Keong Saik Road
                      id_type: passport
                      id_number: FB123456FB123456FB123456FB123456FB123456FB123456FB123456FB123456FB123456FB123456
                      nationality: sg
                      company_name: HitPay
                      date_of_birth: '1990-10-28'
                      contact_number: '+6598644718'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-03-17T21:02:06+08:00'
                      updated_at: '2025-03-17T21:02:06+08:00'
                    - id: 9e7420f7-55f2-400d-ae8f-3db9f75b1f8f
                      status: pending
                      entity_type: company
                      full_name: Test Sender
                      email: email@gmail.com
                      address:
                        city: Singapore
                        state: Singapore
                        country: sg
                        postal_code: 089109
                        street_address: 1 Keong Saik Road
                      id_type: passport
                      id_number: FB123456
                      nationality: sg
                      company_name: HitPay
                      date_of_birth: '1990-10-28'
                      contact_number: '+6598644718'
                      place_of_birth: Singapore
                      created_by:
                        id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                        display_name: TestingSG
                        first_name: QA
                        last_name: SG
                      created_at: '2025-03-17T20:54:24+08:00'
                      updated_at: '2025-03-17T20:54:24+08:00'
                    links:
                      first: https://api.sandbox.hit-pay.com/v1/remitters?page=1
                      last: https://api.sandbox.hit-pay.com/v1/remitters?page=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      links:
                      - url: null
                        label: '&larr; Previous'
                        active: false
                      - url: https://api.sandbox.hit-pay.com/v1/remitters?page=1
                        label: '1'
                        active: true
                      - url: null
                        label: Next &rarr;
                        active: false
                      path: https://api.sandbox.hit-pay.com/v1/remitters
                      per_page: 10
                      to: 10
                      total: 10
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        status:
                          type: string
                        entity_type:
                          type: string
                          enum:
                          - individual
                          - company
                        full_name:
                          type: string
                        email:
                          type: string
                        address:
                          type: object
                          properties:
                            city:
                              type: string
                            state:
                              type: string
                            country:
                              type: string
                            postal_code:
                              type: string
                            street_address:
                              type: string
                          required:
                          - city
                          - state
                          - country
                          - postal_code
                          - street_address
                        id_type:
                          type: string
                          enum:
                          - national_id
                          - passport
                          - driving_license
                        id_number:
                          type: string
                        nationality:
                          type: string
                        company_name:
                          type: string
                        date_of_birth:
                          type: string
                        contact_number:
                          type: string
                        place_of_birth:
                          type: string
                        created_by:
                          type: object
                          properties:
                            id:
                              type: string
                            display_name:
                              type: string
                            first_name:
                              type: string
                            last_name:
                              type: string
                          required:
                          - id
                          - display_name
                          - first_name
                          - last_name
                        created_at:
                          type: string
                        updated_at:
                          type: string
                      required:
                      - id
                      - status
                      - entity_type
                      - full_name
                      - address
                      - id_type
                      - id_number
                      - nationality
                      - company_name
                      - date_of_birth
                      - contact_number
                      - place_of_birth
                      - created_by
                      - created_at
                      - updated_at
                  links:
                    type: object
                    properties:
                      first:
                        type: string
                      last:
                        type: string
                      prev: {}
                      next: {}
                    required:
                    - first
                    - last
                    - prev
                    - next
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: number
                      from:
                        type: number
                      last_page:
                        type: number
                      links:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                            label:
                              type: string
                            active:
                              type: boolean
                          required:
                          - label
                          - active
                      path:
                        type: string
                      per_page:
                        type: number
                      to:
                        type: number
                      total:
                        type: number
                    required:
                    - current_page
                    - from
                    - last_page
                    - links
                    - path
                    - per_page
                    - to
                    - total
                required:
                - data
                - links
                - meta
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl --location ''https://api.sandbox.hit-pay.com/v1/transfers?perPage=10'' \

            --header ''X-BUSINESS-API-KEY: apikey'' \

            --header ''X-Requested-With: XMLHttpRequest'''
          name: Example request
        samples-languages:
        - curl
      tags:
      - Remitters
    post:
      summary: Create new remitter
      description: Create new remitter.
      operationId: create-remitter
      parameters:
      - name: X-BUSINESS-API-KEY
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                entity_type:
                  type: string
                  enum:
                  - individual
                  - company
                full_name:
                  type: string
                id_number:
                  type: string
                id_type:
                  type: string
                  enum:
                  - national_id
                  - passport
                  - driving_license
                date_of_birth:
                  type: string
                  example: '1990-01-01'
                place_of_birth:
                  type: string
                  example: Singapore
                nationality:
                  type: string
                  example: sg
                contact_number:
                  type: string
                  example: '+6591234567'
                email:
                  type: string
                  format: email
                address:
                  type: object
                  properties:
                    street_address:
                      type: string
                      maxLength: 255
                    city:
                      type: string
                      maxLength: 100
                    state:
                      type: string
                      maxLength: 100
                    postal_code:
                      type: string
                      maxLength: 100
                    country:
                      type: string
                      maxLength: 100
                  required:
                  - street_address
                  - city
                  - state
                  - postal_code
                  - country
                company_name:
                  type: string
                  description: It's required if entity_type is company.
              required:
              - entity_type
              - full_name
              - date_of_birth
              - address
              - nationality
              - contact_number
            examples:
              Result:
                value:
                  entity_type: individual
                  full_name: Saul Schumm
                  id_number: A1748247986
                  id_type: national_id
                  date_of_birth: '1990-01-01'
                  place_of_birth: Singapore
                  nationality: sg
                  contact_number: '+6591234567'
                  email: test@gmail.com
                  address:
                    street_address: 123 Orchard Rd
                    city: 'Singapore '
                    state: Singapore
                    postal_code: '238888'
                    country: sg
                  company_name: Ebert, Zulauf and Daugherty
      responses:
        '201':
          description: '201'
          content:
            application/json:
              examples:
                Result:
                  value:
                    id: 9f0092ca-4b7d-4e33-b503-9dd27b0807ba
                    status: pending
                    entity_type: individual
                    full_name: Hilda Ferry
                    id_number: A1748248115
                    id_type: national_id
                    date_of_birth: '1990-01-01'
                    place_of_birth: Singapore
                    nationality: sg
                    contact_number: '+6591234567'
                    email: test5@gmail.com
                    address:
                      street_address: 123 Orchard Rd
                      city: Singapore
                      state: Singapore
                      postal_code: '238888'
                      country: sg
                    company_name: Abernathy Inc
                    created_by:
                      id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                      display_name: TestingSG
                      first_name: QA
                      last_name: SG
                    created_at: '2025-05-26T16:28:35+08:00'
                    updated_at: '2025-05-26T16:28:35+08:00'
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  entity_type:
                    type: string
                    enum:
                    - individual
                    - company
                  full_name:
                    type: string
                  id_number:
                    type: string
                  id_type:
                    type: string
                    enum:
                    - national_id
                    - passport
                    - driving_license
                  date_of_birth:
                    type: string
                  place_of_birth:
                    type: string
                  nationality:
                    type: string
                  contact_number:
                    type: string
                  email:
                    type: string
                  address:
                    type: object
                    properties:
                      street_address:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      postal_code:
                        type: string
                      country:
                        type: string
                    required:
                    - street_address
                    - city
                    - state
                    - postal_code
                    - country
                  company_name:
                    type: string
                  created_by:
                    type: object
                    properties:
                      id:
                        type: string
                      display_name:
                        type: string
                      first_name:
                        type: string
                      last_name:
                        type: string
                    required:
                    - id
                    - display_name
                    - first_name
                    - last_name
                  created_at:
                    type: string
                  updated_at:
                    type: string
                required:
                - id
                - status
                - entity_type
                - full_name
                - id_number
                - id_type
                - date_of_birth
                - place_of_birth
                - nationality
                - contact_number
                - email
                - address
                - company_name
                - created_by
                - created_at
                - updated_at
        '422':
          description: '422'
          content:
            application/json:
              examples:
                Result:
                  value:
                    message: The entity type field is required. (and 10 more errors)
                    errors:
                      entity_type:
                      - The entity type field is required.
                      full_name:
                      - The full name field is required.
                      id_number:
                      - The id number field is required.
                      id_type:
                      - The id type field is required.
                      date_of_birth:
                      - The date of birth field is required.
                      address:
                      - The address field is required.
                      address.street_address:
                      - The address.street address field is required.
                      address.city:
                      - The address.city field is required.
                      address.state:
                      - The address.state field is required.
                      address.postal_code:
                      - The address.postal code field is required.
                      address.country:
                      - The address.country field is required.
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location 'https://api.sandbox.hit-pay.com/v1/transfers' \\n--header 'X-BUSINESS-API-KEY: 9011d0e1e03c1e2d79cdcf1fd7147eaa6d339e4ba5e42df38d8b495e7ed8e9fc' \\\n --header 'X-Requested-With: XMLHttpRequest' \\\n --form "
          name: Example request
        samples-languages:
        - curl
      tags:
      - Remitters
  /v1/remitters/{remitter_id}:
    get:
      summary: Get remitter detail.
      description: Get remitter detail
      operationId: get-remitter
      parameters:
      - name: X-BUSINESS-API-KEY
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d
      - name: remitter_id
        in: path
        description: Remitter id
        schema:
          type: string
          format: uuid
        example: 9b294222-3a53-427f-9393-95dc6d63ee6c
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    id: 9f0092ca-4b7d-4e33-b503-9dd27b0807ba
                    status: pending
                    entity_type: individual
                    full_name: Hilda Ferry
                    email: test@gmail.com
                    address:
                      city: Singapore
                      state: Singapore
                      country: sg
                      postal_code: '238888'
                      street_address: 123 Orchard Rd
                    id_type: national_id
                    id_number: A1748248115
                    nationality: sg
                    company_name: Abernathy Inc
                    date_of_birth: '1990-01-01'
                    contact_number: '+6591234567'
                    place_of_birth: Singapore
                    created_by:
                      id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                      display_name: TestingSG
                      first_name: QA
                      last_name: SG
                    created_at: '2025-05-26T16:28:35+08:00'
                    updated_at: '2025-05-26T16:28:35+08:00'
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                  entity_type:
                    type: string
                    enum:
                    - individual
                    - company
                  full_name:
                    type: string
                  id_number:
                    type: string
                  id_type:
                    type: string
                    enum:
                    - national_id
                    - passport
                    - driving_license
                  date_of_birth:
                    type: string
                  place_of_birth:
                    type: string
                  nationality:
                    type: string
                  contact_number:
                    type: string
                  email:
                    type: string
                  address:
                    type: object
                    properties:
                      street_address:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      postal_code:
                        type: string
                      country:
                        type: string
                    required:
                    - street_address
                    - city
                    - state
                    - postal_code
                    - country
                  company_name:
                    type: string
                  created_by:
                    type: object
                    properties:
                      id:
                        type: string
                      display_name:
                        type: string
                      first_name:
                        type: string
                      last_name:
                        type: string
                    required:
                    - id
                    - display_name
                    - first_name
                    - last_name
                  created_at:
                    type: string
                  updated_at:
                    type: string
                required:
                - id
                - status
                - entity_type
                - full_name
                - id_number
                - id_type
                - date_of_birth
                - place_of_birth
                - nationality
                - contact_number
                - email
                - address
                - company_name
                - created_by
                - created_at
                - updated_at
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: 'curl --location ''https://api.sandbox.hit-pay.com/v1/transfers?perPage=10'' \

            --header ''X-BUSINESS-API-KEY: apikey'' \

            --header ''X-Requested-With: XMLHttpRequest'''
          name: Example request
        samples-languages:
        - curl
      tags:
      - Remitters
    delete:
      summary: Delete remitter
      description: Delete remitter.
      operationId: delete-remitter
      parameters:
      - name: X-BUSINESS-API-KEY
        in: header
        required: true
        style: simple
        explode: false
        schema:
          type: string
          example: b286daabf9921b5a01a4621f026c111e046f8911feba212996c92159b98427d
      - name: remitter_id
        in: path
        description: Remitter id
        schema:
          type: string
          format: uuid
        example: 9b294222-3a53-427f-9393-95dc6d63ee6c
        required: true
      responses:
        '204':
          description: '204'
          content:
            application/json:
              examples:
                Result:
                  value:
                    id: 9f0092ca-4b7d-4e33-b503-9dd27b0807ba
                    status: pending
                    entity_type: individual
                    full_name: Hilda Ferry
                    id_number: A1748248115
                    id_type: national_id
                    date_of_birth: '1990-01-01'
                    place_of_birth: Singapore
                    nationality: sg
                    contact_number: '+6591234567'
                    email: test5@gmail.com
                    address:
                      street_address: 123 Orchard Rd
                      city: Singapore
                      state: Singapore
                      postal_code: '238888'
                      country: sg
                    company_name: Abernathy Inc
                    created_by:
                      id: 98566f58-1c76-4b8b-8f75-d20bba2bc7f8
                      display_name: TestingSG
                      first_name: QA
                      last_name: SG
                    created_at: '2025-05-26T16:28:35+08:00'
                    updated_at: '2025-05-26T16:28:35+08:00'
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value:
                    message: No query results for model [App\Business\Remitter] 9f0092ca-4b7d-4e33-b503-9dd27b0807ba
      deprecated: false
      x-readme:
        code-samples:
        - language: curl
          code: "curl --location 'https://api.sandbox.hit-pay.com/v1/transfers' \\n--header 'X-BUSINESS-API-KEY: 9011d0e1e03c1e2d79cdcf1fd7147eaa6d339e4ba5e42df38d8b495e7ed8e9fc' \\\n --header 'X-Requested-With: XMLHttpRequest' \\\n --form "
          name: Example request
        samples-languages:
        - curl
      tags:
      - Remitters
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
  samples-enabled: true
x-readme-fauxas: true
