openapi: 3.2.0
info:
  title: HitPay Payments Refunds API
  description: HitPay is an all-in-one payments platform for small and medium businesses across Asia-Pacific (Singapore HQ).
  termsOfService: https://www.hitpayapp.com/terms
  contact:
    name: HitPay Support
    url: https://docs.hitpayapp.com/apis
  version: '1.0'
servers:
- url: https://api.hit-pay.com/v1
  description: Production
- url: https://api.sandbox.hit-pay.com/v1
  description: Sandbox (test)
security:
- businessApiKey: []
tags:
- name: Refunds
  description: Refund completed PayNow or card charges.
paths:
  /refund:
    post:
      operationId: createRefund
      tags:
      - Refunds
      summary: Refund a charge
      description: Issues a full or partial refund against a completed payment. Only one refund is allowed per transaction, and only PayNow or card charges are refundable. Original transaction fees are non-refundable.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RefundCreate'
      responses:
        '201':
          description: Refund created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
components:
  schemas:
    Refund:
      type: object
      properties:
        id:
          type: string
        payment_id:
          type: string
        amount_refunded:
          type: string
        currency:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
    RefundCreate:
      type: object
      required:
      - amount
      - payment_id
      properties:
        payment_id:
          type: string
          description: The id of the completed payment to refund.
        amount:
          type: string
          description: Amount to refund (full or partial).
  securitySchemes:
    businessApiKey:
      type: apiKey
      in: header
      name: X-BUSINESS-API-KEY
      description: Per-merchant business API key from Dashboard > Settings > Payment Gateway > API Keys. Platform/aggregator requests additionally send X-PLATFORM-KEY.
