openapi: 3.2.0
info:
  title: HitPay Payments Subscription Plans API
  description: HitPay is an all-in-one payments platform for small and medium businesses across Asia-Pacific (Singapore HQ).
  termsOfService: https://www.hitpayapp.com/terms
  contact:
    name: HitPay Support
    url: https://docs.hitpayapp.com/apis
  version: '1.0'
servers:
- url: https://api.hit-pay.com/v1
  description: Production
- url: https://api.sandbox.hit-pay.com/v1
  description: Sandbox (test)
security:
- businessApiKey: []
tags:
- name: Subscription Plans
  description: Reusable recurring-billing plan templates.
paths:
  /subscription-plan:
    get:
      operationId: listSubscriptionPlans
      tags:
      - Subscription Plans
      summary: List subscription plans
      responses:
        '200':
          description: A list of subscription plans.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubscriptionPlan'
    post:
      operationId: createSubscriptionPlan
      tags:
      - Subscription Plans
      summary: Create a subscription plan
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SubscriptionPlanCreate'
      responses:
        '201':
          description: Subscription plan created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
  /subscription-plan/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: getSubscriptionPlan
      tags:
      - Subscription Plans
      summary: Get a subscription plan
      responses:
        '200':
          description: The subscription plan.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
    delete:
      operationId: deleteSubscriptionPlan
      tags:
      - Subscription Plans
      summary: Delete a subscription plan
      responses:
        '200':
          description: Subscription plan deleted.
components:
  schemas:
    SubscriptionPlanCreate:
      type: object
      required:
      - name
      - amount
      - currency
      - cycle
      properties:
        name:
          type: string
        amount:
          type: string
        currency:
          type: string
        cycle:
          type: string
          enum:
          - weekly
          - monthly
          - yearly
        reference:
          type: string
    SubscriptionPlan:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        amount:
          type: string
        currency:
          type: string
        cycle:
          type: string
        created_at:
          type: string
          format: date-time
  securitySchemes:
    businessApiKey:
      type: apiKey
      in: header
      name: X-BUSINESS-API-KEY
      description: Per-merchant business API key from Dashboard > Settings > Payment Gateway > API Keys. Platform/aggregator requests additionally send X-PLATFORM-KEY.
